[Unit]
Description=AlarmClock
After=network-online.target

[Service]
ExecStart=/usr/bin/python3 -u src/main.py
WorkingDirectory=/home/pi/AlarmClockProject/AlarmClock
StandardOutput=inherit
StandardError=inherit
Restart=no
User=pi

[Install]
WantedBy=multi-user.target
